.btn {
    display: flex;
    justify-content: center;
    margin: 10px;
    border: none;
    background: #555;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
} 
.btn:hover {
    background: #666;
}
form {
    display: flex;
    justify-content: center;
}
.form-title { 
    border: #555 2px solid;
    padding: 10px;

}
h2 {
    text-align: center ;
    font-family: monospace;
    line-height: 1.4;
    font-size: 25px;
    color: #666;
}
.container{
    margin: 10px 40px;
    
}
