* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

table {
  width: 100%;
  table-layout: fixed;
}

table tr th {
  text-align: center;
  color: #fc6225;
  font-size: 15px;
  padding: 10px;
  font-family: monospace;
}
table tr td {
  text-align: center;
  font-size: 12px;
  font-family: monospace;
}
